body{color:#444444; font-family:Helvetica Neue; background:#f9f9f9;padding:10px 0 0 0;}
a{color:#505050; text-decoration:none;}
h2{ text-align:center;font-size:22px;}
h3{font-size:17px;padding:15px 0 0 0;margin:15px 10px 5px 10px; color:#000; background-image:-webkit-linear-gradient(90deg, #dddddd, #dddddd 50%, #f9f9f9 50%);background-size: 100% 1px; background-repeat: no-repeat; background-position: top;}

.h3{ background:none;margin-top:0;padding-top:5px;}

h4{font-size:16px;padding:0 10px;}
p{font-size:16px;padding:0 10px 0 30px;margin:0 0 15px 0;line-height:26px; clear:both;text-align:justify; text-justify:inter-ideograph;}
b{ border-radius:40px;width:16px;height:16px;line-height:16px;font-size:12px;float:left; text-align:center;margin-right:5px; margin-top:3px;margin-left:-20px;font-family:Helvetica Neue; background:#f9f9f9; text-shadow:none;color:#2ea6f2; text-align:center;border:1px #2ea6f2 solid; font-weight:inherit;}
b a{color:#fff; text-decoration:none;}
.img{ text-align:center;font-size:12px;padding-top:15px;}
.img img{margin-bottom:10px;}
span{ color:#C90;}
.p{padding-left:10px; }
/*.p{padding-left:10px; text-indent:28px;}*/

.p2{padding-left:10px; text-indent:0;}
hr{border:0;border-bottom:1px #ddd solid;}
.kgimg{width:100%;margin-top:5px;}
table{font-size:12px;}
table td{padding:6px 4px;}